table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background: #fff;
  border-radius: 8px;
}

th,
td {
  border: 2px solid #ddd;
  padding: 0.6em 1em 0.6em 1em;
  text-align: center;
  background-color: #f4f4f4;
}

th {
  background-color: rgb(7, 7, 201);
  color: white;
}

.group,
.subgroup {
  background: #d6e6ff;
  font-weight: bold;
}

.group {
  border: none;
}
